{
	"presets": [
		"react"
	],
	"plugins": [
		"transform-es2015-function-name",
		"transform-es2015-sticky-regex",
		"transform-es2015-unicode-regex",
		"transform-es2015-spread",
		"transform-es2015-parameters",
		"transform-es2015-destructuring",
		"transform-es2015-shorthand-properties",
		"transform-class-properties",
		"transform-decorators",
		"syntax-dynamic-import",
		"syntax-trailing-function-commas",
		"transform-async-generator-functions",
		"transform-async-to-generator",
		"transform-exponentiation-operator",
		"transform-object-rest-spread",
		"lodash",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		"transform-es2015-modules-commonjs"
	]
}
